* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: rgb(141, 125, 199);
    background-attachment: fixed;
    color: rgb(201, 198, 211);
    margin: 0;
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho-menu {
    display: flex;
    gap: 320px;
}

.cabecalho-menu-links {
    font-family: cursive;
    font-size: 24px;
    font-weight: 600;
    color: rgb(209, 198, 238);
    text-decoration: none;
}
.titulo-destaque {
    color: rgb(200, 186, 235);
}

.conteudo {
    height: auto;
    flex-direction: column;
    margin: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.apresentacao-conteudo {

    width: 615px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: auto;
    gap: 40px;
    order: 2;
}

.apresentacao-conteudo-titulo {
    font-size: 36px;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}

.apresentacao-conteudo-paragrafo {
    font-size: ;
}